.h1-container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .h1-hero {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxcontent);
    margin-top: var(--dl-space-space-fiveunits);
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-fiveunits);
    justify-content: space-between;
  }
  .h1-hero-text-container {
    width: 35%;
    display: flex;
    align-items: flex-start;
    margin-left: 50px;
    flex-direction: column;
  }
  .h1-heading {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .h1-text {
    color: var(--dl-color-gray-500);
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .image1 {
    width: 50%;
    object-fit: contain;
  }
  .h1-section-separator {
    width: 100%;
    height: 1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-700);
  }
  .h1-services {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: var(--dl-space-space-tenunits);
    flex-direction: row;
    justify-content: space-between;
  }
  .home-service-card {
    width: 49%;
    display: flex;
    min-height: 500px;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-gray-900);
  }
  .home-card-content {
    margin: var(--dl-space-space-fiveunits);
    display: flex;
    padding: var(--dl-space-space-fiveunits);
    max-width: 500px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text1 {
    text-align: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-text2 {
    color: var(--dl-color-primary-700);
    text-align: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-button {
    color: rgba(255, 255, 255, 0.562);
    width: 80%;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-doubleunit);
    border-width: 0px;
    border-radius: 34px;
    padding-bottom: var(--dl-space-space-doubleunit);
    background-color: var(--dl-color-primary-100);
  }
  .home-service-card1 {
    width: 49%;
    display: flex;
    min-height: 500px;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-gray-900);
  }
  .home-card-content1 {
    margin: var(--dl-space-space-fiveunits);
    display: flex;
    padding: var(--dl-space-space-fiveunits);
    max-width: 500px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text3 {
    text-align: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-text4 {
    color: var(--dl-color-primary-700);
    text-align: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-button1 {
    color: var(--dl-color-gray-white);
    width: 80%;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-doubleunit);
    border-width: 0px;
    border-radius: 34px;
    padding-bottom: var(--dl-space-space-doubleunit);
    background-color: var(--dl-color-primary-100);
  }
  .home-service-card2 {
    width: 49%;
    display: flex;
    min-height: 500px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-gray-900);
  }
  .home-card-content2 {
    margin: var(--dl-space-space-fiveunits);
    display: flex;
    padding: var(--dl-space-space-fiveunits);
    max-width: 500px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text5 {
    text-align: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-text6 {
    color: var(--dl-color-primary-700);
    text-align: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-button2 {
    color: var(--dl-color-gray-white);
    width: 80%;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-doubleunit);
    border-width: 0px;
    border-radius: 34px;
    padding-bottom: var(--dl-space-space-doubleunit);
    background-color: var(--dl-color-primary-100);
  }
  .home-service-card3 {
    width: 49%;
    display: flex;
    min-height: 500px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-gray-900);
  }
  .home-card-content3 {
    margin: var(--dl-space-space-fiveunits);
    display: flex;
    padding: var(--dl-space-space-fiveunits);
    max-width: 500px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text7 {
    text-align: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-text8 {
    color: var(--dl-color-primary-700);
    text-align: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-button3 {
    color: var(--dl-color-gray-white);
    width: 80%;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-doubleunit);
    border-width: 0px;
    border-radius: 34px;
    padding-bottom: var(--dl-space-space-doubleunit);
    background-color: var(--dl-color-primary-100);
  }
  .home-section-separator1 {
    width: 100%;
    height: 1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-700);
  }
  @media(max-width: 991px) {
    .home-hero {
      flex-direction: column-reverse;
    }
    .home-hero-text-container {
      width: 80%;
      margin-left: 0px;
    }
    .home-image {
      width: 80%;
      margin-bottom: var(--dl-space-space-tripleunit);
    }
  }
  @media(max-width: 767px) {
    .home-heading {
      text-align: center;
    }
    .home-text {
      text-align: center;
    }
    .home-card-content {
      margin: 0px;
    }
    .home-card-content1 {
      margin: 0px;
    }
    .home-card-content2 {
      margin: 0px;
    }
    .home-card-content3 {
      margin: 0px;
    }
  }
  @media(max-width: 479px) {
    .home-hero-text-container {
      width: 100%;
    }
    .home-image {
      width: 100%;
    }
    .home-service-card {
      width: 100%;
    }
    .home-service-card1 {
      width: 100%;
    }
    .home-service-card2 {
      width: 100%;
      margin-bottom: var(--dl-space-space-fourunits);
    }
    .home-service-card3 {
      width: 100%;
    }
  }
  
  * {box-sizing:border-box}


.slideshow-container {
  max-width: 20% ;
  height: 50%;
  position: relative;
  margin: 0 auto;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.Slide{
  width:"120%"; 
  height: "120%";
  
 }
