body {
    background-image: url("https://i.pinimg.com/originals/13/e4/dc/13e4dcfc9b0456501742eae0b4f8b38d.gif");
    background-position: center;
    background-repeat: center;
    
  }

.haha{
    border-radius: 140%;
   }

.shakeimg{
   border-radius: 50%;
    height: 320px;
    width: 40%;
    animation: shake 5s linear infinite;
}
@keyframes shake {
  0%, 100% {
      transform: translateX(0);
  }
  25%, 75% {
      transform: translateX(-10px);
  }
  50% {
      transform: translateX(10px);
  }
}


p{
    font-size: 120%;
}
.Hobbies{
  width:"100%" ;
  vertical-align: top;
  align-items: "center"; 
  background-color: "brown";
}

table {
  margin: 0  auto;
  background-image: url("https://64.media.tumblr.com/0639046b1001da12490c1f26f09ab36b/89a170f3eaab9025-69/s400x600/bd3eb129da223164357eb590eb045473a8db0632.gifv");
  width: 90% ;
  height: 150%;
  background-repeat: center;
  background-size: 100% 100%;
}

.h1aprt1{
  font-family: Arial Rounded MT Bold;
    font-size: 33px;
    color: #98ccf7;
    height: "800px"; 
    text-align: center;
}
hr{
  width:"70%"; 
  vertical-align: "top";
}

.backbutton{
  background-color: rgb(61, 10, 10);
  color: rgb(3, 157, 196);
  border: none;
  height: auto;
  width: auto;
  cursor: pointer;
  margin-right: 0%;
}